body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.imagen-fondo {
    overflow: hidden; 
    opacity: 0.6;
    margin-bottom: 40px;
}
  
.imagen-fondo img {
    width: 100%; 
    height: auto; 
    display: block; 
}

.form-editar {
    margin: 0 auto;
    margin-top: 35px;
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.pokemon-table th, .pokemon-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.pokemon-table th {
    background-color: #9ae29c;
    color: white;
    text-align: center;
}

.pokemon-table td {
    text-align: center;
}

.pokemon-table tr:nth-child(even){
    background-color: #f2f2f2;
}